Source: mcell
Section: science
Priority: optional
Maintainer: Jacob Czech <czech.jacob@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Homepage: http://www.mcell.org
Vcs-Git: git://github.com/mcellteam/mcell.git
Vcs-Browser: git://github.com/mcellteam/mcell.git

Package: mcell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsigsegv2:amd64, gawk, m4, flex, mime-support, libfl-dev:amd64
Description: Monte carlo reaction-diffusion simulator
 MCell (Monte Carlo cell) is a program that uses spatially realistic 3-D 
 cellular models and specialized Monte Carlo algorithms to simulate the 
 movements and reactions of molecules within and between cells—cellular 
 microphysiology.
